<a href="https://colab.research.google.com/github/hijunshi/deep-learning-engineer/blob/homeworks_submission/%EC%9D%B4%EC%A4%80%EC%84%B1_4_Tensor%EC%9D%84_%EC%97%B0%EC%82%B0%ED%95%98%EB%8A%94_%ED%95%A8%EC%88%98%EB%93%A4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Tensor을 연산하는 함수들

In [0]:
%matplotlib inline
import numpy as np
import tensorflow as tf 
import matplotlib.pyplot as plt
import pandas as pd

tf.enable_eager_execution()
np.set_printoptions(formatter={
    'float_kind': lambda x: "{0:0.3f}".format(x)})

In [0]:
## 예제 데이터 )  califonia housing price

MedInc : 행정 구역 내 소득의 중앙값<br>
HouseAge : 행정 구역 내 주택 연식의 중앙값<br>
AveRooms : 평균 방 갯수<br>
AveBedrms : 평균 침실 갯수<br>
Population : 행정 구역 내 인구 수<br>
AveOccup : 평균 자가 비율<br>
Latitude : 해당 행정 구역의 위도<br>
Longitude : 해당 행정 구역의 경도<br>

In [0]:
from sklearn.datasets import fetch_california_housing
california = fetch_california_housing()

clf_data = california.data

df = pd.DataFrame(california.data,columns=california.feature_names)
df.head()

   MedInc  HouseAge  AveRooms  ...  AveOccup  Latitude  Longitude
0  8.3252      41.0  6.984127  ...  2.555556     37.88    -122.23
1  8.3014      21.0  6.238137  ...  2.109842     37.86    -122.22
2  7.2574      52.0  8.288136  ...  2.802260     37.85    -122.24
3  5.6431      52.0  5.817352  ...  2.547945     37.85    -122.25
4  3.8462      52.0  6.281853  ...  2.181467     37.85    -122.25

[5 rows x 8 columns]

 ## 문제 1. 평균, 표준편차, 최소값, 최대값 구하기 

+ 각 열의 평균, 표준편차, 최소값, 최대값순으로 합쳐진 행렬을 구해주세요. <br>
그리고 shape=(4,8) 으로 만들어  answer1 에 담아주세요.

In [0]:
# 우선 실행해주세요
tf_data = tf.constant(df.values)

#### 답안지 입력란
* 아래에 답을 서술하여 주세요
* 결과는 `answer1`에 담아주세요

In [0]:
tmp = [tf.math.reduce_mean(tf_data,axis=[0]), tf.math.reduce_std(tf_data,axis=[0]), tf.math.reduce_min(tf_data,axis=[0]), tf.math.reduce_max(tf_data,axis=[0])]
answer1 = tf.reshape(tmp, [4,8])
answer1

<tf.Tensor: id=49, shape=(4, 8), dtype=float64, numpy=
array([[3.871, 28.639, 5.429, 1.097, 1425.477, 3.071, 35.632, -119.570],
       [1.900, 12.585, 2.474, 0.474, 1132.435, 10.386, 2.136, 2.003],
       [0.500, 1.000, 0.846, 0.333, 3.000, 0.692, 32.540, -124.350],
       [15.000, 52.000, 141.909, 34.067, 35682.000, 1243.333, 41.950,
        -114.310]])>

#### 정답 확인
* 정답을 입력한 후, 아래를 실행시키면 정답인지 확인합니다.

In [0]:
from numpy.testing import assert_array_almost_equal

assert 'answer1' in globals(), "결과를 answer1 변수에 담아주세요!"

A = pd.concat([df.mean(),df.std(),df.min(),df.max()],axis=1).values.T

if "numpy" in dir(answer1):
    answer1 = answer1.numpy()

assert_array_almost_equal(A, answer1,decimal=1,
                          err_msg="\n\n정답은 \n{}\n입니다. 다시 확인해 주세요".format(A))
print("정답입니다!!!")

정답입니다!!!

 ## 문제 2. 평균 침실 갯수 정렬하기

* AveBedrms의 값을 오름차순으로 정렬해 주세요.

In [0]:
# 우선 실행해주세요
tf_data = tf.constant(df.values)

#### 답안지 입력란
* 아래에 답을 서술하여 주세요
* 결과는 `answer2`에 담아주세요

In [0]:
answer2 = tf.sort(tf_data[:,3])
answer2

#### 정답 확인
* 정답을 입력한 후, 아래를 실행시키면 정답인지 확인합니다.

In [0]:
from numpy.testing import assert_array_almost_equal

assert 'answer2' in globals(), "결과를 answer2 변수에 담아주세요!"

A = df['AveBedrms'].sort_values()

if "numpy" in dir(answer2):
    answer2 = answer2.numpy()

assert_array_almost_equal(A, answer2, decimal=1,
                          err_msg="\n\n정답은 \n{}\n입니다. 다시 확인해 주세요".format(A))
print("정답입니다!!!")

정답입니다!!!